{{ define "title" }}{{.Title}}{{ end }}

{{ define "content" }}
{{range .Lands}}
<div class="row mb-3">
    <div class="col-12 col-md-3">
        <img src="/static/img/{{ .Source }}/{{ getFirstImageName .Images }}" class="">
    </div>

    <div class="col-12 col-md-6 col-lg-8">
        <h5>
            <a href="{{ .Link }}" target="_blank">{{ .Name }} | {{ .Price }}</a>
            &nbsp;<small>{{ .AddedAt.Format "02 Jan 2006" }}</small>
        </h5>
        <div>
            <p>{{ .Area }} {{ .Info }}</p>
            <p>{{ .Description }}</p>
        </div>
    </div>
    <div class="col-12 col-md-3 col-lg-1">
        <div class="mx-auto"><a class="btn btn-outline-primary" href="#" role="button">Like</a></div>
    </div>
</div>
{{ end }}

{{ template "pagination" . }}
{{ end }}