{{ define "pagination" }}
{{ $current := .Pagination.Current }}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/">First</a></li>
        {{ range .Pagination.MiddleTotal }}
        {{ if eq $current . }}
        <li class="page-item active"><a class="page-link" href="/?page={{ . }}">{{ . }}</a></li>
        {{ else }}
        <li class="page-item"><a class="page-link" href="/?page={{ . }}">{{ . }}</a></li>
        {{ end }}
        {{ end }}
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
{{ end }}